<!--The content below is only a placeholder and can be replaced.-->

<app-header></app-header>

<div style="padding-right: 60px; padding-left: 70px">
  <div class="container col-lg-12" style="margin-top: 50px;">
    <div class="col-md-6 col-sm-6">
      <h1 id="text1">Hire a Certified <br>
      <span id="text2">HubSpot Developer</span></h1>
      <h2>Entrust with high professionalism, we are capable of offering pixel perfect web development, mobile application development.</h2>
      <button class="btn readMore"><span>READ MORE</span></button>
      <button class="btn signUp"><span>SIGN UP</span></button>
    </div>
    <div class="col-md-6 col-sm-6">
      <img src="../assets/images/laptop.png">
    </div>
  </div>

  <div class="happyCust text-center">
    <span>OUR HAPPY CUSTOMERS</span>
    <br>
    <div id="logos">
      <img src="../assets/images/viber.png" srcset="../assets/images/viber@2x.png 2x, ../assets/images/viber@3x.png 3x" class="Viber" style="margin-left: 0 !important;">
      <img src="../assets/images/paypal.png" srcset="../assets/images/paypal@2x.png 2x, ../assets/images/paypal@3x.png 3x" class="Paypal">

      <img src="../assets/images/viber.png" srcset="../assets/images/viber@2x.png 2x, ../assets/images/viber@3x.png 3x" class="Viber">
      <img src="../assets/images/paypal.png" srcset="../assets/images/paypal@2x.png 2x, ../assets/images/paypal@3x.png 3x" class="Paypal">

      <img src="../assets/images/viber.png" srcset="../assets/images/viber@2x.png 2x, ../assets/images/viber@3x.png 3x" class="Viber">
      <img src="../assets/images/paypal.png" srcset="../assets/images/paypal@2x.png 2x, ../assets/images/paypal@3x.png 3x" class="Paypal">
    </div>
  </div>

  <div class="experience text-center col-lg-12">
      Create an incredible Website experience
    <div class="row" style="padding-top:60px;">
      <div class="col-md-6 exText">
        <h1>Its Custom Modules, Add features as per your.</h1>
        <h1>Get Started With Plamspire</h1>
        <h1>Create an incredible Website experience</h1>
        <h1>Its Custom Modules, Add features as per your.</h1>
      </div>

      <div class="col-md-6">
          <img src="../assets/images/screen.png" srcset="../assets/images/screen@2x.png 2x, ../assets/images/screen@3x.png 3x" class="Bitmap">
      </div>
    </div>
  </div>

  <div class="text-center col-lg-12 trusted">
      Trusted by innovation companies
      <div class="row" style="padding-top: 70px;">
        <div class="col-md-4 para">
          First I liked the template pack that we chose. Second, we needed hours beyond what was offered with our purchase but 
          it was fairly priced and all actions were handled smoothly and quickly.
        </div>
        <div class="col-md-4 para">
          First I liked the template pack that we chose. Second, we needed hours beyond what was offered with our purchase but 
          it was fairly priced and all actions were handled smoothly and quickly. Third, when I recently had a small problem with the CSS.
        </div>
        <div class="col-md-4 para">
          First I liked the template pack that we chose. Second, we needed hours beyond what was offered with our purchase but 
          it was fairly priced and all actions were handled smoothly and quickly. 
        </div>
      </div>
  </div>

  <div class="row col-lg-12 text-center" style="padding-top: 150px;">
      <div class="col-md-4">
        <img src="../assets/images/user1.png" class="userImg"> <br>
        <div class="uname">John Doe</div> <br>
        <div class="udesig">CEO, abc Company</div> <br>
        <div style="margin-top: 20px;"><img src="../assets/images/user1AT.png" class="userComp"></div>
      </div>
      <div class="col-md-4">
        <img src="../assets/images/user2.png" class="userImg"> <br>
        <div class="uname">John Doe</div> <br>
        <div class="udesig">CEO, abc Company</div> <br>
        <div style="margin-top: 20px;"><img src="../assets/images/user2MT.png" class="userComp"></div>
      </div>
      <div class="col-md-4">
        <img src="../assets/images/user3.png" class="userImg"> <br>
        <div class="uname">John Doe</div> <br>
        <div class="udesig">CEO, abc Company</div> <br>
        <div style="margin-top: 20px;"><img src="../assets/images/user3SC.png" class="userComp"></div>
      </div>
    </div>

    <div class="recta">
        <div class="textTitle">Trusted by innovation companies</div>

        <div class="row" style="padding-top: 70px;">
            <div class="col-md-4">
              <div class="rectaParaTitle">
                  Get Template
              </div>
              <div class="rectPara">
                  First I liked the template pack that we chose. Second, we needed hours beyond what was offered with our purchase but 
                  it was fairly priced and all actions were handled smoothly and quickly.
              </div>
            </div>
            <div class="col-md-4">
                <div class="rectaParaTitle">
                    Get CSS
                </div>
                <div class="rectPara">
                    First I liked the template pack that we chose. Second, we needed hours beyond what was offered with our purchase but 
                    it was fairly priced and all actions were handled smoothly and quickly.
                </div>
            </div>
            <div class="col-md-4">
                <div class="rectaParaTitle">
                    Create Page
                </div>
                <div class="rectPara">
                    First I liked the template pack that we chose. Second, we needed hours beyond what was offered with our purchase but 
                    it was fairly priced and all actions were handled smoothly and quickly.
                </div> 
            </div>
          </div>

    </div>

    <div class="row col-lg-12">
      <div class="boxed col-md-6">
        <div class="boxedTitle">Get Template</div>
        <div class="boxedText">First I liked the template pack that we chose. Second, we needed hours beyond what was offered with our purchase but 
          it was fairly priced and all actions were handled smoothly and quickly.</div>
      </div>

      <div class="col-md-6 boxedTempText" style="margin-top: -70px;">
          <div class="boxedText2">First I liked the template pack that we chose. Second, we needed hours beyond what was offered with our purchase but 
            it was fairly priced and all actions were handled.</div>
          <button class="btn seeDoc">SEE DOCUMENTATION</button>
      </div>
    </div>

    <div class="col-lg-12 servicePro" style="margin-top: -80px;">
      <div class="getTempTitle text-center">Services Provided by us.</div>
      <div class="row" style="margin-top: 100px;">
        <div class="col-md-4">
          <img src="../assets/images/earth.png"> <br>
          <div class="getTemp">Get Template</div>
          <div class="getTempPara">First I liked the template pack that we chose. Second, we needed hours beyond what was offered with our purchase.</div>
        </div>

        <div class="col-md-4">
          <img src="../assets/images/earth.png"> <br>
          <div class="getTemp">Get Template</div>
          <div class="getTempPara">First I liked the template pack that we chose. Second, we needed hours beyond what was offered with our purchase.</div>
        </div>

        <div class="col-md-4">
          <img src="../assets/images/earth.png"> <br>
          <div class="getTemp">Get Template</div>
          <div class="getTempPara">First I liked the template pack that we chose. Second, we needed hours beyond what was offered with our purchase.</div>
        </div>
      </div>

      <div class="row" style="margin-top: 100px;">
        <div class="col-md-4">
          <img src="../assets/images/earth.png"> <br>
          <div class="getTemp">Get Template</div>
          <div class="getTempPara">First I liked the template pack that we chose. Second, we needed hours beyond what was offered with our purchase.</div>
        </div>
  
        <div class="col-md-4">
          <img src="../assets/images/earth.png"> <br>
          <div class="getTemp">Get Template</div>
          <div class="getTempPara">First I liked the template pack that we chose. Second, we needed hours beyond what was offered with our purchase.</div>
        </div>
  
        <div class="col-md-4"></div>
      </div>

    </div>

    <div style="width: 100%;">
      <div class="serviceTitle text-center">Services Provided by us.</div>
      <div class="text-center serviceText">Entrust with high professionalism, we are capable of offering pixel perfect.</div>
      <button class="btn requestQ"><span>REQUEST A QUOTE</span></button>
      <button class="btn signUp2"><span>SIGN UP</span></button>
    </div>

    <div class="col-lg-12" style="background-color: #04003b; width: 100%; height: auto;">
      <div class="row">
        
        <div class="col-md-3">
          <ul class="footerList">
            <li class="listHead">COMPANY</li>
            <li class="listItem">About</li>
            <li class="listItem">Services</li>
            <li class="listItem">Templates</li>
            <li class="listItem">Contact Us</li>
            <li class="listItem">Request a Quote</li>
          </ul>
        </div>

        <div class="col-md-3">
          <ul class="footerList">
            <li class="listHead">COMPANY</li>
            <li class="listItem">About</li>
            <li class="listItem">Services</li>
            <li class="listItem">Templates</li>
            <li class="listItem">Contact Us</li>
            <li class="listItem">Request a Quote</li>
          </ul>
        </div>

        <div class="col-md-3">
          <ul class="footerList">
            <li class="listHead">COMPANY</li>
            <li class="listItem">About</li>
            <li class="listItem">Services</li>
            <li class="listItem">Templates</li>
            <li class="listItem">Contact Us</li>
            <li class="listItem">Request a Quote</li>
            <li class="listItem">About</li>
            <li class="listItem">Services</li>
            <li class="listItem">Templates</li>
          </ul>
        </div>

        <div class="col-md-3">
          <ul class="footerList">
            <li class="listHead">TALK TO SALES</li>
            <li class="listItem">hello@palmspire.com</li>
            <li class="listItem" style="margin-top: 30px;">STAY IN TOUCH</li>
            <li class="listItem" style="margin-top: 30px;"><i class="fa fa-twitter"></i> <i class="fa fa-linkedin" style="padding-left: 20px;"></i> <i class="fa fa-facebook" style="padding-left: 20px;"></i> </li>
            
            <li class="listItem" style="width: 250px; margin-top: 40px;"> © 2019 Palmspire. All rights reserved. </li>
          </ul>
        </div>

      </div>
    </div>

</div>

<router-outlet></router-outlet>
