<div class="container" style="margin-top: 15px;">
    <nav class="navbar" style=" padding-top: 10px;">
        <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle fa fa-bars" data-toggle="collapse" data-target="#myNavbar" style="border: 2px solid #000000;"></button>
              <img style="width:200px; height:39px;" alt="Angular Logo" src="../assets/images/palmspire-logo-black.png" srcset="../assets/images/palmspire-logo-black@2x.png 2x, ../assets/images/palmspire-logo-black@3x.png 3x">
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Resources</a></li>
                    <li><a href="#">Blog</a></li>
                    <li class="lined" style="width: 1px; height: 24px; border: solid 1px #000000; margin-top: 15px;"></li>
                    <li><a href="#">Login</a></li>
                    <li><button style="margin-top: 10px;" class="btn">Sign Up</button></li>
                </ul>
            </div>
        </div>
    </nav>
</div>