/* You can add global styles to this file, and also import other style files */
body {
    background-image:url("./assets/images/pentagon.png");
    background-color: transparent !important;
    width: auto;
    height: 1271px;
    object-fit: contain;
    margin: auto !important;
    overflow-x: hidden;
    background-repeat: no-repeat;
}